body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 376px;
}

/*color - #00bcd4*/

input {
    width: 100%;
    text-decoration: none;
    border: 1px solid #00bcd4;
    padding: 10px;
    box-sizing: border-box;

}

button {
    border: 1px solid #00bcd4;
    color: #fff;
    background-color: #00bcd4;
    margin-top: 5px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#delete-btn {
    background-color: #fff;
    color: #00bcd4;
}

ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

li {
    padding-top: 5px;
}

li a {
    color: #00bcd4;
}